[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
mysqlclient = "*"
pandas = "*"
pymysql = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-dotenv = "*"
django-adminlte-3 = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
