body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    flex-shrink: 0;
    z-index: 1;
}

.footer {
    flex-shrink: 0;
    z-index: 1;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px; /* Adjust this value based on your header height */
    margin-bottom: 80px; /* Adjust this value based on your footer height */
    background-color: #f8f9fa;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.main h2, .main h1 {
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

td {
    background-color: #f2f2f2;
    text-align: center;
}

td a {
    text-decoration: none;
    color: #0066cc;
}

td a:hover {
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}