{% extends 'base.html' %}
{% load static %}
{% block title %}{{ table_name }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/analyze.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <title>Analysis of Table: {{ table_name }}</title>

    <h1>Analysis of Table: {{ table_name }}</h1>

    <h2>Null Values</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Column Name</th>
                    <th>Null Count</th>
                </tr>
            </thead>
            <tbody>
                {% for column, null_count in null_values.items %}
                    <tr>
                        <td>{{ column }}</td>
                        <td>{{ null_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Description</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Column Name</th>
                    <th>Statistics</th>
                </tr>
            </thead>
            <tbody>
                {% for column, stats in description.items %}
                    <tr>
                        <td>{{ column }}</td>
                        <td>
                            <ul>
                                {% for key, value in stats.items %}
                                    <li><strong>{{ key }}</strong>: {{ value }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Summary</h2>
    <div class="summary-container">
        <pre>{{ summary }}</pre>
    </div>
</div>
{% endblock %}
