{% extends 'base.html' %}
{% load static %}
{% block title %}Upload CSV{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/uploaddata.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <h1>Your Tables</h1>
    <select name="selected_table">
        {% for table in user_tables %}
            <option value="{{ table.table_name }}">{{ table.table_name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Select Table</button>

</div>
{% endblock %}