{% extends 'base.html' %}
{% load static %}
{% block title %}Upload CSV{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}1.0">
    <title>Append Data into Your Static Model from your Cleaned Csv File ! </title>
</head>
<body>
    <h1>Append Data in Static Model</h1>
    <form action="{% url 'uploaddata' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Select CSV File:</label>
        <input type="file" id="file" name="file">
        <button type="submit">Upload</button>
    </form>
{% endblock %}
