{% extends 'base.html' %}
{% load static %}
{% block title %}Upload CSV{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datacsv/upload.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="main">
        <h2>Upload a Csv File</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
</div>
{% endblock %}
