{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="object-tools">
            {% for custom_url in custom_urls %}
                <li>
                    <a href="{{ custom_url.url }}" class="nav-link">{{ custom_url.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% comment %} {% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
    <h1>Custom Change List</h1>
    <p>{{ custom_data }}</p>
    <!-- Add your custom content here -->
    <div class="grafana-container">
        <!-- Embed your Grafana iframe here -->
        <iframe src="https://your-grafana-instance/d/YOUR_DASHBOARD_ID" width="100%" height="600" frameborder="0"></iframe>
    </div>
    {{ block.super }}
{% endblock %}
 {% endcomment %}



<!-- templates/admin/adminuser/mymodel/change_list.html -->
{% comment %} {% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<h1>Custom Change List</h1>
<!-- Your custom content here -->

<div class="grafana-container">
    <!-- Embed your Grafana iframe here -->
    <iframe src="https://your-grafana-instance/d/YOUR_DASHBOARD_ID" width="100%" height="600" frameborder="0"></iframe>
</div>
{{ block.super }}
{% endblock %} {% endcomment %}





{% comment %} {% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<div>
    <a href="{% url 'custompage' %}">Go to Custom Page</a>
    
</div>
<div class="grafana-container">
    <!-- Embed your Grafana iframe here -->
    <iframe src="https://your-grafana-instance/d/YOUR_DASHBOARD_ID" width="100%" height="600" frameborder="0"></iframe>
</div>
{{ block.super }}
{% endblock %} {% endcomment %}






{% comment %} {% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
    <div>
        <a href="{% url 'admin:custom_model_page' %}" class="sidebar-link">Custom Model Page</a>
    </div>
    {{ block.super }}
{% endblock %} {% endcomment %}


{% comment %} {% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<div>
    <a href="{% url 'custompage' %}">Go to Custom Page</a>
</div>
{{ block.super }}
{% endblock %} {% endcomment %}
